@model YardControlSystem.Models.Ramp

<form method="post" asp-action="Create">
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Pridėti rampą</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-danger">@ViewBag.ErrorMessage</div>
                <input asp-for="WarehouseId" value=@ViewBag.WarehouseId hidden />
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Number">Numeris</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Working">Busena</label>
                        <br />
                        <a>Langelis pažymėtas - veikia</a>
                        <br />
                        <a>Langelis nepažymėtas - neveikia</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="Working" class="form-control" />
                        <span asp-validation-for="Working" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Sukurti" />
                        </div>
                        <div class="col">
                            <a asp-controller="Warehouse" asp-action="WarehousesView" class="btn btn-danger w-75">Atgal</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{ 
    @{ <partial name="_ValidationScriptsPartial" />}
}

