@model YardControlSystem.Models.ViewModels.AssignOrderViewModel
@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <script>
        $(document).ready(function () {
            $('#pickUpDatepicker').datetimepicker();
            $('#dropOffDatepicker').datetimepicker();
        });

    </script>

}
<form method="post" asp-action="AssignOrderView">
    <input  asp-for="Order.OrderNr" hidden />
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Užsakymo priskyrimas</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-danger">@ViewBag.ErrorMessage</div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Order.OrderNr">Užsakymo nr.</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="Order.OrderNr" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Order.TrailerLicensePlate">Transporto priemonės valstybiniai nr.</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="Order.TrailerLicensePlate" disabled class="form-control" />
                    </div>
                </div>
                <input asp-for="PickUpWarehouse" value=@ViewBag.PickUpWarehouseId hidden />
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="PickUpWarehouse">Pakrovimo sandėlys</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="PickUpWarehouse" disabled class="form-control" />
                    </div>
                </div>
                <input asp-for="DropOffWarehouse" value=@ViewBag.DropOffWarehouseId hidden />
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="DropOffWarehouse">Iškrovimo sandėlys</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="DropOffWarehouse" disabled class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="PickUpOperation.ReservedDate" class="control-label">Pakrovimo data ir laikas</label>
                        <div class='input-group date' id='pickUpDatepicker'>
                            <input asp-for="PickUpOperation.ReservedDate" type="text" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="PickUpOperation.ReservedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="DropOffOperation.ReservedDate" class="control-label">Iškrovimo data ir laikas</label>
                        <div class='input-group date' id='dropOffDatepicker'>
                            <input asp-for="DropOffOperation.ReservedDate" type="text" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="DropOffOperation.ReservedDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Priskirti" />
                        </div>
                        <div class="col">
                            <a asp-controller="Order" asp-action="FreeOrdersView" class="btn btn-danger w-75">Atgal</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
