@model YardControlSystem.Models.ViewModels.AssignOrderViewModel

<form method="post" asp-action="AssignOrderToDriver">
    <input asp-for="Order.OrderNr" hidden />
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Užsakymo priskyrimas</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Order.OrderNr">Užsakymo nr.</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="Order.OrderNr" disabled class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Order.TrailerLicensePlate">Transporto priemonės valstybiniai nr.</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="Order.TrailerLicensePlate" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="PickUpWarehouse">Pakrovimo sandėlys</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="PickUpWarehouse" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="DropOffWarehouse">Iškrovimo sandėlys</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="DropOffWarehouse" disabled class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Priskirti" />
                        </div>
                        <div class="col">
                            <a asp-controller="Order" asp-action="FreeOrdersView" class="btn btn-danger w-75">Atgal</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
